html {
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

::selection {
  background: $peach;
  text-shadow: none;
}
::-moz-selection {
  background: $peach;
  text-shadow: none;
}

/**
 * Reset some basic elements
 */
html, body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}

/**
 * Basic styling
 */
body {
  width: 100%;
  // overflow-x: hidden;

  font: $base-font-weight #{$base-font-size-mobile}/#{$base-line-height} $Apercu;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $text-color;

  background-color: $background-color;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
     -moz-font-feature-settings: "kern" 1;
       -o-font-feature-settings: "kern" 1;
          font-feature-settings: "kern" 1;
  font-kerning: normal;

  @media screen and (min-width: $on-large) {
    font-size: $base-font-size;
  }
  
}



/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
  margin-bottom: $spacing-unit / 2;
}


/**
 * sections
 */
.wrapper {
  padding: 100px 170px;
  @include thirteen {
    padding: 100px;
  }
  @include desktop {
    padding: 50px;
  }
  @include mobile {
    padding: 50px 15px;
  }
}
.section {
  display: flex;
  justify-content: center;
  @include tablet {
    display: block;
  }
  &__title {
    flex-shrink: 0;
    width: 200px;
    margin-right: 70px;
    color: $brand-color;
    text-transform: uppercase;
    text-align: right;
    font-weight: 700;
    letter-spacing: 2px;
    @include desktop {
      margin-right: 50px;
    }
    @include little-desktop {
      width: 150px;
    }
    @include tablet {
      text-align: left;
      width: auto;
    }
  }
  &__content {
    font-weight: 300;
    font-size: 1rem;
    width: 100%;
    max-width: 650px;
    @include tablet {
      padding-top: 20px;
    }
    p {
      margin-top: 0;
      margin-bottom: 25px;
    }
    .underline-link {
      position: relative;
      display: inline-block;
      &:after {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 1px;
        background: $black;
        content: '';
        opacity: 0;
        transition: height 0.3s, opacity 0.3s, transform 0.3s;
        transform: translateY(-5px);
      }
      &:hover,
      &:focus {
        &:after {
          height: 2px;
          border-radius: 3px;
          opacity: 1;
          transform: translateY(-2px);
        }
      }
    }
  }
}



/**
 * Images
 */
img {
  max-width: 100%;
  width: 100%;
  vertical-align: middle;
}


/**
 * Lists
 */
ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}


/**
 * Text
 */
strong {
  font-weight: 500;
}
.small {
  font-family: 'Inconsolata', monospace;
  font-size: 0.85rem;
  display: inline-block;
  margin-top: 10px;
  &:after {
    display: none;
  }
}


/**
 * Links
 */
a {
  color: $brand-color;
  text-decoration: none;
  transition: opacity .5s ease;

  &.grey {
    color: $text-color;
  }

  &.black {
    color: $black;
  }

  &:hover {
    opacity: 0.7;
  }

  .social-media-list &:hover {
    text-decoration: none;

    .username {
      text-decoration: underline;
    }
  }
}


/**
 * Blockquotes
 */
blockquote {
  color: $grey-color;
  border-left: 4px solid $grey-color-light;
  padding-left: $spacing-unit / 2;
  @include relative-font-size(1.125);
  letter-spacing: -1px;
  font-style: italic;

  > :last-child {
    margin-bottom: 0;
  }
}



/**
 * Clearfix
 */
%clearfix:after {
  content: "";
  display: table;
  clear: both;
}


/**
 * Tables
 */
table {
  margin-bottom: $spacing-unit;
  width: 100%;
  text-align: left;
  color: lighten($text-color, 18%);
  border-collapse: collapse;
  border: 1px solid $grey-color-light;
  tr {
    &:nth-child(even) {
      background-color: lighten($grey-color-light, 6%);
    }
  }
  th, td {
    padding: ($spacing-unit / 3) ($spacing-unit / 2);
  }
  th {
    background-color: lighten($grey-color-light, 3%);
    border: 1px solid darken($grey-color-light, 4%);
    border-bottom-color: darken($grey-color-light, 12%);
  }
  td {
    border: 1px solid $grey-color-light;
  }
}

/* margin */
.mb-1 {
  margin-bottom: 4px !important;
}
.mb-2 {
  margin-bottom: 8px;
}
.mb-3 {
  margin-bottom: 4rem;
}


/* click & select control */
.noclick, .noclick * {
  pointer-events: none !important;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}