.intro {
    .section__image {
        min-width: 260px;
        min-height: 240px;
        margin-right: 70px;
        display: block;
        position: relative;
        img {
            width: 260px;
            max-height: 420px !important;
            max-width: 100%;
            height: auto;
            margin: auto;
            position: absolute;
            display: inline-block;
            vertical-align: middle;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            @include little-desktop {
                width: 150px;
            }
        }
        @include desktop {
            margin-right: 50px;
        }
        @include tablet {
            margin-right: 0;
        }
    }
    .section__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.education, .updates, .random {
    padding-top: 0;
}
.random {
    padding-bottom: 200px;
    @include tablet {
        padding-bottom: 100px;
    }
}