<section class="wrapper section intro">
    <div class="section__image">
        <img src="images/me_landscape.jpeg" alt="iPhone figure picture "/>
    </div>
    <div class="section__content">
        <h1>
            Hi, I'm Haram Park
            <span class="emoji wave"></span>
        </h1>
        <p>
            I am a Master student at Chung-ang University in information science - a subgroup of the Management Science program - where I am advised by <a class="grey" href="https://mitsloan.mit.edu/faculty/directory/thomas-w-malone">Thomas Malone</a>. 
            My research area is Computer-Supported Cooperative Work (CSCW) and Social Computing, which are subfields of Human-Computer Interaction (HCI). 
            Specifically, I am interested in understanding how new technologies change work and organizations, and building interactive systems that support collaborative interactions.
        </p>
        <p>
            <b>
                Contact me via
                <a href="mailto:{{ site.email }}" target="_blank" class="highlight-link">
                    <span class="emoji email"></span>
                    {{ site.email }}
                </a>
            </b>
        </p>
    </div>
</section>
        